-----BEGIN CERTIFICATE-----
MIIEETCCAvmgAwIBAgIUN6kockfAZ/vKTDNiI0RGdpnwYRUwDQYJKoZIhvcNAQEL
BQAwgZcxCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApXYXNoaW5ndG9uMRAwDgYDVQQH
DAdSZWRtb25kMRwwGgYDVQQKDBNDb250b3NvIENvcnBvcmF0aW9uMQswCQYDVQQL
DAJJVDEXMBUGA1UEAwwOY2EuY29udG9zby5jb20xHTAbBgkqhkiG9w0BCQEWDml0
QGNvbnRvc28uY29tMB4XDTI0MTIxOTE5MzI1MloXDTM0MTIxNzE5MzI1MlowgZcx
CzAJBgNVBAYTAlVTMRMwEQYDVQQIDApXYXNoaW5ndG9uMRAwDgYDVQQHDAdSZWRt
b25kMRwwGgYDVQQKDBNDb250b3NvIENvcnBvcmF0aW9uMQswCQYDVQQLDAJJVDEX
MBUGA1UEAwwOY2EuY29udG9zby5jb20xHTAbBgkqhkiG9w0BCQEWDml0QGNvbnRv
c28uY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAskgV7yYEeWIJ
SVWsb0L15ftiRjY4Trj/h2hse8KlcPDp9oWgCiLPT2WIELxb0ppgQHb19Jsat7Tm
O7LlGXLv1H9/HdxdC3OxR2AOFJMO+JnNfKMU3k+jEBc1evSsS5yqn7OXYydpbSwQ
Kd6zd9mVJsz+pJhCtGnq9SCNr1HwCF79Lill1FnLOT/8WrM3ca+s2RZRK8uZNMvd
hoDvQYpCY6INFlTkllQ3MKrB9YIPE4wBwKiDADWvItKhV8iEYu+fORGOOejHSA5K
Zw5GyCdnWwgZPfvI8OyvQ2wEx8CcCZeruPCcowJ1dhGYJRfpEgfqRXFmPS4UXzkh
BRBTkgduLQIDAQABo1MwUTAdBgNVHQ4EFgQUPrBLxLw7IYml4tAABK41EeGBMYEw
HwYDVR0jBBgwFoAUPrBLxLw7IYml4tAABK41EeGBMYEwDwYDVR0TAQH/BAUwAwEB
/zANBgkqhkiG9w0BAQsFAAOCAQEANDJpm3QQLEmEebdLpFL/2xiLrbQycGQh+tH0
iVWBKf0aXR92a67MST7GpiN+jPXLjHmY4BK16wYNzXiDPk1NFXGfOmaj2R11JNjz
Jq+zr0vKkIV/y/J+e9cexRSnJNEt6Pyoc5hNdLuqAV5oUHRmKQNOQxCfiV+T2LeA
Fxczu1zY6WT9YiD6oBNw7/C6FiRdCSoTKNZvtzjjuuwilxZo9fAagGa+WSAzLwcV
NUz1IjOMcVemkefTAMZRMZ6tM6nWLoexJXhpcGHSsiOzx2nInlJ1VWkvCMKfaiiO
VtRhg2Z4YXPCUHhQ9dGbmTbDT1Wjw4vadmhuHX54kC7ldqXq3A==
-----END CERTIFICATE-----
